{% extends 'base.html.twig' %}

{% block title %}InternshipOffer index{% endblock %}

{% block body %}
    <h1>InternshipOffer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>CreateAt</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for internship_offer in internship_offers %}
            <tr>
                <td>{{ internship_offer.id }}</td>
                <td>{{ internship_offer.title }}</td>
                <td>{{ internship_offer.createAt ? internship_offer.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ internship_offer.startDate ? internship_offer.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ internship_offer.endDate ? internship_offer.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_internship_offer_show', {'id': internship_offer.id}) }}">show</a>
                    <a href="{{ path('app_internship_offer_edit', {'id': internship_offer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_internship_offer_new') }}">Create new</a>
{% endblock %}
